a {
    color: white;
}

h2 {
    font-family: 'Reggae One', cursive;
    font-size: 30px;
    color: white;
    text-shadow: 3px 2px 0px black;
}

h3 {
    font-family: 'Reggae One', cursive;
    font-size: 25px;
}

h4 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

body {
    background-color: rgb(125, 0, 0);
    margin: 0;
}

nav {
    background-color: rgba(25, 25, 25, 0.9);
    width: 100%;
    position: fixed;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    width: 32%;
    text-align: center;
    font-size: 25px;
    font-family: 'Sriracha', cursive;
    transition: .3s all;
}

nav li:hover {
    background-color: white;
    transition: .3s all;
}
nav a:hover {
    color: black;
    transition: .3s all;
}

nav a {
    display: inline-block;
    align-content: center;
    padding: 5px;
    width: 100%;
    text-decoration: none;
    transition: .3s all;
}

#hero {
    background-color: slategray;
    background-image: url(images/hero.jpg);
    background-size: cover;
    background-position: center center;
    height: 750px;
}

#hero h1 {
    color: rgb(200, 0, 0);
    text-shadow: 5px 5px 0px white;
    margin: 0;
    text-align: center;
    line-height: 600px;
    font-size: 60px;
    font-family: 'Reggae One', cursive;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding 0 20px;
}

article {
    border: 4px outset gray;
    padding: 10px;
    text-align: center;
    background-color: rgb(190, 190, 190);
}

article img {
    height: 330px;
    width: 330px;
}

article h4 {
    text-align: left;
    margin-bottom: 0;
}

article p {
    text-align: left;
    margin-top: 5px;
    color: black;
}

#wallpapers {
    background-color: rgb(100, 0, 0); 
    padding: 0px 15px 15px 15px;
    border: 4px dashed black;
}

#wallpapers h4 {
    text-align: center;
    color: white;
    
}

#wallpapers img {
    height: 390px;
    align-content: center;
}

#about {
    display: inline-block;
    width: 50%;
    text-align: center;
    background-image: url(images/blksqpattern.jpg);
    padding: 0;
    margin-top: 20px;
}

#about h2 {
    margin: 0;
}

#about p {
    padding: 15px;
    margin: 0;
}

#about img {
    height: 200px;   
    border-radius: 10%;
    padding: 10px;
    margin: 0;
}

#suggestions {
    display: inline-block;
    width: 40%;
    float: right;
    background-color: rgb(190, 190, 190);
    height: 250px;
    margin-top: 80px;
    padding: 10px;
    text-align: center;
}

#suggestions p {
    color: black
}

footer {
    margin-top: 20px;
    text-align: center;
    background-color: rgb(5, 5, 5);
    height: 150px;
}

footer p {
    font-size: 15px;
    line-height: 60px;
}

@media(max-width: 680px) {
    #hero h1 {
        font-size: 40px;
    }
}

@media(max-width: 460px) {
    #hero h1 {
        font-size: 30px;
    }
    
    #about img {
        height: 150px;
    }
    
    #suggestions h2 {
        font-size: 20px;
    }
}